# .env.example
# Alchemy API Key (Ethereum, Base)
ALCHEMY_API_KEY=your_alchemy_api_key_here

# Helius API Key (Solana)
HELIUS_API_KEY=your_helius_api_key_here

# Supabase Connecton Secrets
SUPABASE_URL=your_supabase_url_here
SUPABASE_KEY=your_supabase_anon_or_service_key_here
